/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}
body {
    font-family: 'Roboto', sans-serif;
}

/* Wrapper */
.wrapper {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #009688 10%, #DADBD4 10%);
}

.container {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    display: flex;
}

.small-container {
    width: 30%;
    height: 100%;
    background-color: white;
    margin-top: 50px;
}

.large-container {
    width: 70%;
    height: 100%;
    margin-top: 50px;
    background-color: blue;
}

/* SMALL CONTAINER */
.header-small {
    height: 50px;
    background-color: #EAEAEA;
    padding: 0 10px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* HEADER-SMALL */
.header-small-logo {
    display: flex;
    align-items: center;
}

.header-small-logo img {
    width: 40px;
    border-radius: 50%;
}

.icon-small i {
    margin-left: 7px;
    color: gray;
}

.icon-small a {
    text-decoration: none;
}

/* CONTENT SMALL */
.notification {
    height: 70px;
    background-color: #8EDAFC;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.notification-icons i {
    background-color: white;
    color: #8EDAFC;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-content {
    margin-left: 5px;
}

.notification-content a {
    font-size: .9rem;
}

/* Sezione trova chat */
.search-chat {
    height: 40px;
    background-color: gray;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    background-color: white;
    height: 30px;
    width: 400px;
    padding: 0 20px;
}

.search input {
    width: 100%;
    height: 20px;
    border: 1px solid gray;
    border: none;
    margin-left: 10px;
}

.search a {
    color: #009688;
}

/* Sezione utenti */

.user-list {
    overflow-y: scroll;
    height: calc(600px - 160px);
}
    
.user-list img  {
    width: 40px;
    border-radius: 50%;
}

.message {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    padding: 5px;
    margin-bottom: 5px;
}

.name {
    margin-left: 15px;
}

.name p {
    font-size: .7rem;
    color: gray;
}

.data {
    font-size: .7rem;
    color: gray;
    margin-left: 110px;
}

/* LARGE CONTAINER */
.header-large {
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}

.user-chat {
    display: flex;
}

.user-chat img {
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-chat-name {
    margin-left: 15px;
}

.user-chat-name p {
    font-size: .7rem;
    color: gray;
}

.user-icon i {
    margin-left: 15px;
    color: gray;
}
/* Main */
.main {
    height: calc(100% - 100px);
    width: 100%;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.main-message {
    padding: 5px 40px;
    display: flex;
    justify-content: end;
} 

.main-chat {
    background-color: #D5F9BA;
    width: 230px;
    border-radius: 20px;
    padding: 10px;
}

.answer-message {
    padding: 5px 40px;
}

.answer-chat {
    background-color: white;
    width: 130px;
    border-radius: 20px;
    padding: 10px;

}

/* FOOTER */
.footer {
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}



.footer-input {
    width: 80%;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
}

.footer a {
    margin-left: 7px;
    color: gray;
    font-size: 1.3rem;
}